$main-dark: #161823;
$secondary-dark: #0E0F1A;
$red: #ff2366;
$pink: #fd51d9;
$red-accent: #e92c81;
$azure: #56b2ba;
$blue: #0b78e3;
$yellow: #face15;
$purle: #8d4de8;
$mauve: #6859ea;
$green: #7ed321;