// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@font-face {
  font-family: 'Heebo';
  src: url('./assets/fonts/Heebo-Regular.ttf');
}

@font-face {
  font-family: 'Heebo Light';
  src: url('./assets/fonts/Heebo-Light.ttf');
}

:root {
  --ion-font-family: 'Heebo';
}

.title-ios {
  font-weight: 200;
  font-size: 1.3rem;
}

ion-tab-button {
  ion-icon {
    font-size: 2.5em;
    margin-bottom: .2em;
  }
}

h1 {
  font-family: "Heebo Light";
  font-size: 40px;
  color: white;
}

h2, ion-card-title {
  font-family: "Heebo Light";
  font-size: 28px;
  color: white;
}

ion-toolbar {
  --min-height: 55px;
}

